@font-face {
  font-family: 'Jost italic';
  src: url('../../resources/Jost/Jost-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Noasark italic';
  src: url('../../resources/Noasarck/Noasarck\ Obliquo.otf');
}

@font-face {
  font-family: 'Titilium';
  src: url('../../resources/Titillium_Web/TitilliumWeb-Regular.ttf');
}
